{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<link rel="stylesheet" href="{% static 'store.css' %}">
{% endblock %}

{% block main %}
<div class="name-container">
    <dvi class="obon-name"><span class="name">{{ obon.name }}</span></dvi>
    <div class="price-tag">
        所持金：{{ obon.money }}円
    </div>
</div>

<div class="obon-img">
    <div class="potential">
        <div class="ability">
            <ul>素材 : {{ obon.material }}</ul>
        </div>
        <div class="ability">
            <ul>大きさ : {{ obon.size }}</ul>
        </div>
        <div class="ability">
            <ul>賢さ :{{ obon.wise }}</ul>
        </div>
        <div class="ability">
            <ul>重さ : {{ obon.weight }}</ul>
        </div>
        <div class="ability">
            <ul>やる気 : {{ obon.motivation }}</ul>
        </div>
    </div>
    <img src="{{ obon.image.url }}" alt="おぼんの画像">
</div>

<div class="shop-container">
    <section class="food-card">
        <img class="food-card-img" src="{% static 'apple.jpg' %}" alt="">
        <div class="food-card-content">
          <h3 class="food-card-title">たこやき</h3>
          <p class="food-card-text">100円</p>
        </div>
        <form action="{% url 'foodstore' %}" method="post">
            {% csrf_token %}
            <input type="submit" name="takoyaki" value="購入" class="btn btn-primary rounded-pill purchase">
        </form>
    </section>
    <section class="food-card">
        <img class="food-card-img" src="{% static 'apple.jpg' %}" alt="">
        <div class="food-card-content">
          <h3 class="food-card-title">りんご飴</h3>
          <p class="food-card-text">150円</p>
        </div>
        <form action="{% url 'foodstore' %}" method="post">
            {% csrf_token %}
            <input type="submit" name="ringoame" value="購入" class="btn btn-primary rounded-pill purchase">
        </form>
    </section>
    <section class="food-card">
        <img class="food-card-img" src="{% static 'apple.jpg' %}" alt="">
        <div class="food-card-content">
          <h3 class="food-card-title">りんご</h3>
          <p class="food-card-text">300円</p>
        </div>
        <div class="button-content">
            <button type="button" class="btn btn-primary rounded-pill purchase">購入</button>
        </div>
    </section>
    <section class="food-card">
        <img class="food-card-img" src="{% static 'apple.jpg' %}" alt="">
        <div class="food-card-content">
          <h3 class="food-card-title">りんご</h3>
          <p class="food-card-text">300円</p>
        </div>
        <div class="button-content">
            <button type="button" class="btn btn-primary rounded-pill purchase">購入</button>
        </div>
    </section>
    <section class="food-card">
        <img class="food-card-img" src="{% static 'apple.jpg' %}" alt="">
        <div class="food-card-content">
          <h3 class="food-card-title">りんご</h3>
          <p class="food-card-text">300円</p>
        </div>
        <div class="button-content">
            <button type="button" class="btn btn-primary rounded-pill purchase">購入</button>
        </div>
    </section>
    <section class="food-card">
        <img class="food-card-img" src="{% static 'apple.jpg' %}" alt="">
        <div class="food-card-content">
          <h3 class="food-card-title">りんご</h3>
          <p class="food-card-text">300円</p>
        </div>
        <div class="button-content">
            <button type="button" class="btn btn-primary rounded-pill purchase">購入</button>
        </div>
    </section>
    <form action="{% url 'foodstore' %}" method="post">
        {% csrf_token %}
        <input type="submit" name="reset" value="リセット">
    </form>
</div>

<div class="three-dimensions-card goto-card">
    <a href="{% url 'foodstore' %}" class="btn-circle-3d">食べ物屋台</a>
    <a href="#" class="btn-circle-3d">ゲーム屋台</a>
    <a href="{% url 'battle' %}" class="btn-circle-3d">{{ battle }}</a>
</div>

<script>
const data = JSON.parse('{{ data_json.size|safe }}');
window.alert("{{ data }}");  // [1, 2, 3]
</script>
{% endblock %}
